
.main_section{
    background-color: #000;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-row: 1/3;
    transition: .3s all ease;

}

.grid{
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    text-align: center;
}
 a{
    list-style: none;
    text-decoration: none;
    color : #fff;   
    background-color: #000;
}
.section{
    display: grid;
    grid-row: 2/3;
  
    grid-template-rows: minmax(100px,150px);
    background-color: #000;
    max-height: 150px;
    transition: .3s all ease;
}
.section:hover,.main_section:hover,.app_two_row:hover{
    transform: translateY(-10px)
}


.name_section{
    display: flex;
    justify-content: center;
    align-items: center;
}
i{
    transition: .3s all ease;
}
.section:hover i ,.main_section:hover i ,.app_two_row:hover i {

    transform: scale(1.3);
}

.two_row_section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    padding: 25px 0;
}
.app_two_row{
    width: 50%;
    transition: .2s all ease;
    padding: 125px 0px;
    margin: 10px; 
    text-align: center;
 
}

.newsApp{
    background-color: #F1C40F;

}
.radioApp{
    background-color: #F39C12 ;
}


